* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
  }

  body::-webkit-scrollbar {
    width: 0;
  }
   

  
.wrapper{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;  
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
  -webkit-scrollbar-width: none;
 
}



