@import "./../Main.scss";

.pageBackground{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 90vh;
    top: 10vh;
    overflow:auto;
    background-color: $backgroundColor;
}

.galleryWrapper{
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 0;
    background-color: backgroundColor;
    bottom: 0;
}


.image{
    position: relative;
    // width: 400px;
    // height: 400px;
    min-height: 200px;
    min-width: 200px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}