@import "./../Main.scss";

.buttonWrapper{
    display: flex;
}

.button{
    cursor: pointer;
    transition: opacity 0.4s;
}

.gClefIcon{
    width: 25px;
    height: 25px;
    background-color: $BrightColor;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: opacity 0.3s ease;
}

.active{
    opacity: 1;
}

.hidden{
    opacity:0.5;
}

.transparent{
    opacity: 0;
}
