@import "../Main.scss";

.backgroundImage{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: top;
    opacity: 0;
    transition: opacity 0.8s ease-in;
}


.header{
    position: relative;
    text-align: center;
    color: $BrightColor;
    font-family: "Amiri-Italic";
    opacity: 0;
    transition: opacity 0.8s ease-in;
    font-size: 20vw;
}