@font-face {
    font-family: "Assistant-Bold";
    src: url("./../fonts/Assistant-Bold.ttf");
}

@font-face {
    font-family: "Assistant-Light";
    src: url("./../fonts/Assistant-Light.ttf");
}

@font-face {
    font-family: "Assistant-SemiBold";
    src: url("./../fonts/Assistant-Light.ttf");
}

@font-face {
    font-family: "Amiri-Regular";
    src: url("./../fonts/Amiri-Regular.ttf");
}
@font-face {
    font-family: "Amiri-Bold";
    src: url("./../fonts/Amiri-Bold.ttf");
}
@font-face {
    font-family: "Amiri-Italic";
    src: url("./../fonts/Amiri-Italic.ttf");
}

@font-face {
    font-family: "Logo2";
    src: url("./../fonts/Logo2.ttf");
}

$backgroundColor:rgb(0, 0, 0);

$BrightColor: rgb(255, 255, 255);

$contactBackDropColor: rgb(41, 37, 37);

$iconColor: rgb(40, 60, 223)





