@import "./../Main.scss";

.contact{
    position: absolute;
    width: 180px;
    top: 20%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    &:hover{
        
    }

}
.credits{
    position: absolute;
    font-family: "Assistant-Light";
    // font-size: 3vw;
    color: white;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);

}

.contactBackDrop{
    position: relative;
    width: 100vw;
    height: 35vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    // flex-direction: column;
    background-color: $contactBackDropColor;
}
