@import "./../Main.scss";

.icon{
    position: absolute;
    width: 22px;
    height: 22px;
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    cursor: pointer;
    background-color: rgb(9, 9, 83);
    top: 50%;
    transform: translateY(-50%);
    
}
.iconWrapper{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: $BrightColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: opacity 0.3s ease-out; 
}

.colorOn{
    opacity: 0.3;
}
.colorOff{
    opacity: 1;

}